{% extends 'index.html' %}
{% load static %}
{% block title %} user_profile {% endblock %}
{% block body %}
{% block  one %}
{% endblock %}
{% block  two %}
{% endblock %}
{% block  three %}
{% endblock %}
{% block part %} 
{% endblock %}
<h2 style="text-align: center; margin-bottom: 30px;">Distric Dealerships</h2>
<table>
    <thead>
      <tr>
        <th>D. Name</th>
        <th>Distric</th>
        <th>Joining Date</th>
        <th>Sell</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Nayan Islam</td>
        <td>Narayanganj</td>
        <td>15/06/2022</td>
        <td>1,20,000/=</td>
        <td>01913381372</td>
      </tr>
      <tr>
        <td>Nayan Islam</td>
        <td>Narayanganj</td>
        <td>15/06/2022</td>
        <td>1,20,000/=</td>
        <td>01913381372</td>
      </tr>
      <tr>
        <td>Nayan Islam</td>
        <td>Narayanganj</td>
        <td>15/06/2022</td>
        <td>1,20,000/=</td>
        <td>01913381372</td>
      </tr>
      <tr>
        <td>Nayan Islam</td>
        <td>Narayanganj</td>
        <td>15/06/2022</td>
        <td>1,20,000/=</td>
        <td>01913381372</td>
      </tr>
    </tbody>
</table>
<h2 style="text-align: center; margin: 50px 0 30px;">Distric Dealerships</h2>
<table>
    <thead>
      <tr>
        <th>D. Name</th>
        <th>Distric</th>
        <th>Joining Date</th>
        <th>Sell</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Nayan Islam</td>
        <td>Narayanganj</td>
        <td>15/06/2022</td>
        <td>1,20,000/=</td>
        <td>01913381372</td>
      </tr>
      <tr>
        <td>Nayan Islam</td>
        <td>Narayanganj</td>
        <td>15/06/2022</td>
        <td>1,20,000/=</td>
        <td>01913381372</td>
      </tr>
      <tr>
        <td>Nayan Islam</td>
        <td>Narayanganj</td>
        <td>15/06/2022</td>
        <td>1,20,000/=</td>
        <td>01913381372</td>
      </tr>
      <tr>
        <td>Nayan Islam</td>
        <td>Narayanganj</td>
        <td>15/06/2022</td>
        <td>1,20,000/=</td>
        <td>01913381372</td>
      </tr>
    </tbody>
</table>

{% endblock %}